@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap");
nav {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  top: 0;
  position: sticky;
  border-bottom: #13b79f solid 3px;
  height: 3vw;
}
nav li {
  font-family: "Montserrat";
  list-style-type: none;
  float: right;
  margin: 0 2vw;
  padding: 0.8vw 1vw;
  transition: 300ms;
  font-size: 1.2vw;
  font-weight: 600;
}
nav li a:-webkit-any-link {
  color: #13b79f;
}
nav li :Link {
  text-decoration: none;
}
nav li:hover {
  transition: 300ms;
  background-color: #13b79f;
}
nav li:hover :Link {
  transition: 300ms;
}
nav li:hover a:-webkit-any-link {
  color: white;
}

.sidebar {
  z-index: 11;
  top: 3vw;
  position: fixed;
  width: 20%;
  background-color: #FBFBFB;
  padding-bottom: auto;
  height: 100vh;
}
.sidebar img {
  margin-left: 3.5vw;
  margin-top: -2vw;
  height: 6vw;
  background-color: #FBFBFB;
  padding: 0 2vw 0 1vw;
}
.sidebar .side-header {
  font-size: 1.5vw;
  color: #13b79f;
  font-weight: 700;
  margin: 1vw 0.5vw;
  font-family: "Montserrat";
}
.sidebar .sidebar-data .sdata {
  border-radius: 4px;
  border-bottom: rgba(19, 183, 158, 0.737254902) solid 3px;
  font-size: 1.3vw;
  color: #292929;
  font-weight: 500;
  font-family: "Montserrat";
  margin: 1vw 0.4vw;
}