.blogs-header {
    margin: 2vw 1vw -2vw 25vw;
    display: block;
    color: #159eff;
    font-weight: 400;
    font-family: 'Rubik';
    font-size: 2.5vw;
}
body {
    background-color: rgb(240, 240, 240);
}