@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Montserrat:ital,wght@0,300;0,500;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.modal-container {
  height: max-content;
  position: relative;
  overflow: hidden;
  transition: 300ms;
}
.modal-container span {
  margin-left: 65vw;
  bottom: -1vw;
  position: relative;
  background-color: #ffffff;
  padding: 0.5vw 0.75vw;
  font-size: 1.5vw;
  border-radius: 3vw;
  z-index: 100;
  cursor: pointer;
  color: #2ec4b6;
}
.modal-container span:hover {
  background-color: #2ec4b6;
  color: #ffffff;
  transition: 300ms;
}
.modal-container .grid-container {
  height: auto;
  transition: 300ms;
  z-index: 5;
  max-width: 80vw;
  display: grid;
  grid-template-columns: auto auto auto;
}
.modal-container .grid-container img {
  margin: 0.5vw auto;
  width: 80%;
}

.modal-off {
  overflow: hidden;
  height: 0;
}

article {
  margin-top: 3vw;
  border-top: #2ec4b6 solid 3px;
  max-width: 75vw;
  margin-left: 21.5%;
  margin-right: auto;
  padding-bottom: 3vw;
  background-color: #ffffff;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 20px;
}
article .text-img-container {
  text-align: center;
}
article .text-img-container .post-img {
  width: 35vw;
  float: right;
  margin: 0 2vw 1vw 2vw;
}
article .text-img-container .p-description {
  text-align: justify;
}
article .text-img-container .p-description p {
  text-align: justify;
  margin: 0.9vw 2vw;
  font-family: "Montserrat";
  font-weight: 500;
}
article h2 {
  padding: 0vw 1vw;
  margin: 1vw 3vw;
  font-family: "Montserrat";
  font-size: 2.3vw;
  color: #fff;
  background-color: #40e2c3;
  font-weight: 700;
  width: fit-content;
  transform: skew(-13deg, 0deg);
}
article .p-author {
  margin-left: 3vw;
  font-family: "Montserrat";
  font-weight: 700;
  color: #13b79f;
}
article .p-date {
  margin-left: 3vw;
  font-family: "Montserrat";
  font-weight: 700;
  color: #13b79f;
}
article button {
  margin: 1vw 45%;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0.3vw;
  color: #13b79f;
  font-family: "Montserrat";
  cursor: pointer;
  width: 10vw;
  display: block;
  transition: 300ms;
  font-weight: 600;
}
article button:hover {
  background-color: #2ec4b6;
  color: #ffffff;
  transition: 300ms;
}